:root {
    --tablist-height: 20px;
}

.workMiddleTopBar {
    width: 100%;
    height: var(--tablist-height);
    background-color: var(--tablist-content);
    padding: 0;
    margin: 0;
    border: 0.5px solid var(--middle-content);
}

.workMiddleTopBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.workMiddleTopBar ul li {
    cursor: default;
    padding: 0 5px 0 5px;
    width: min-content;
}

.workMiddleTopBar ul li span.name {
    width: 5px;
    white-space: nowrap !important;
}

.workMiddleTopBar ul li span.closeButton {
    width: 10px;
    height: 10px;
    text-align: center;
    margin-left: 5px;
    outline: none;
    border: none;
}

.workMiddleTopBar ul li span.closeButton:hover {
    background-color: var(--tablist-content);
    border-radius: 5px;
}

.workMiddleTopBar ul li.active {
    background-color: rgba(255, 255, 255, .2);
    border-bottom: 2px solid deepskyblue;
}

.workMiddleTopBar ul li:hover {
    background-color: rgba(0, 0, 0, .1);
}